@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@font-face {
    font-family: 'Josefin Sans';
    src: url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);
}

*{
    font-family: 'Josefin Sans';
    color: white;
}

:root{
    --cor01: #212121;
    --cor02: #181818;
    --cor03: #222222;
}

body{
    background-color: var(--cor02);
    margin: 0px;
}

body a{
    text-decoration: none;
}

header{
    padding: 20px;
    width: auto;
    margin: 0px;
    background-color: var(--cor01);
    text-align: left;
}

header p{
    display: inline;
}

header>nav{
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
}

nav>a{
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    margin: 20px;
    line-height: 21px;
}

a.esquerda{
    text-align: right;
}

#botao{
    text-align: right;
    border: 3px solid white;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}